<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between 
  pb-3 px-mb-4 mb-3 border-bottom shadow-sm bg-white fixed-top" 
>
  <img src="/assets/images/logo.png" style="max-height: 70px" alt="logo"  routerLink="/"/>

  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
    <a class="p-2 text-dark" [routerLink]="['/']">Home</a>
    <a class="p-2 text-dark" [routerLink]="['/shop']">Shop</a>
    <a class="p-2 text-dark" href="#">Contact</a>
  </nav>
  <div class="d-flex align-items-center cart-shop">
    <div class="d-flex icon-class">
      <a class="mr-5 shop-cart-link">
        <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
        <div class="cart-no">5</div>
      </a>
    </div>
    <div class="buttons-log">
      <a class="btn btn-outline-secondary mr-3" style="margin-right: 7px;">Login</a>
      <a class="btn btn-outline-secondary mr-3">Sign Up</a>
    </div>
  </div>
</div>
